@model IEnumerable<MVCDemo.Models.Student>
@{
    ViewData["Title"] = "Details";
    var students = new SelectList(Model, "Id", "FullName");
    var student = Model.First();
}

<h1>Show Student Details</h1>

<partial name="_StudentLookup" model="Model" />

<!--<select id="uxStudents" asp-items="students"></select> -->
<!--Html.RenderPartial("_StudentDetail", student); old way -->

<div id="uxDisplay">
    @*@await Html.PartialAsync("_StudentDetail", student)*@
    <partial name="_StudentDetail" model="@Model.First()" />
</div>

<script>
    $(document).ready(function () {
        // alert("WORKING!")
        $("#StudentLookup").change(function () {
            var studentId = $("#StudentLookup").val();
            //$("#uxDisplay").html(id);
            //AJAX methods
            $.ajax({
                method: 'GET',
                url: '/Student/Data',
                data: { id: studentId }
            }).done(function (result, statusText, xhdr) {
                $("#uxDisplay").html(result)
            });// end of ajax
        });// end change
    }); // end doc ready
</script>